<footer class="footer">

    <div class="container-1">
        <div class="footer-row">
    
            <div class="footer-links">
                <h4>Acerca de Python</h4>
                <ul>
                    <li><a href="https://www.tokioschool.com/formaciones/cursos-programacion/python/historia/" target="_blank">Historia y resurguimiento</a></li>
                    <li><a href="https://docs.python.org/es/3/whatsnew/index.html" target="_blank">Nuevas Actualizaciones </a></li>
                    <li><a href="https://www.freecodecamp.org/espanol/news/el-manual-de-python/" target="_blank">Manual de usuario</a></li>
                </ul>
    
            </div>
    
            <div class="footer-links">
                <h4>Foros de Apoyo</h4>
              <ul>
                <li><a href="https://www.lawebdelprogramador.com/foros/Python/index1.html" target="_blank">La web del programador</a></li>
                <li><a href="https://www.laneros.com/temas/foro-de-python-discusi%C3%B3n-general.157655/" target="_blank">Foro Laneros</a></li>
                <li><a href="https://www.aprendeaprogramar.com/mod/forum/view.php?id=528" target="_blank">Aprende a programar</a></li>
            </ul>
    
            </div>
    
            <div class="footer-links">
                <h4>Otras paginas</h4>
    
                <ul>
                    <li><a href="https://aws.amazon.com/es/what-is/python/#:~:text=Python%20es%20un%20lenguaje%20de,ejecutar%20en%20muchas%20plataformas%20diferentes." target="_blank">Acerca de Python</a></li>
                    <li><a href="https://www.python.org/" target="_blank">Sitio Web Oficial</a></li>
           
                </ul>
            </div>
    
            <div class="footer-links">
                <h4>Redes Sociales</h4>
                  <div class="social-link">
    
                    <a  target="blank" href="https://www.instagram.com/python.learning/?hl=es"> <i class="fab fa-facebook-f" style="margin-top:23%"></i></a>
                    <a  target="blank" href="https://www.facebook.com/groups/275366519230814"><i class="fab fa-instagram"style="margin-top:23%"></i></a>
                  
                  </div>
            </div>
        </div>
    </div>
    </footer>