
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<script src="../static/javascript/chatbot.js"> </script>


<div class="container">
    <div class="sidebar">
      <div class="head">
        <div class="user-details">
          <a href="http://127.0.0.1:8000">
            <img class="codewhiz" style="cursor:pointer;margin-left:-8%" src="../static/imagenes/CodePyAI.png" alt="Codewhiz Logo"/>
           </a>
         </div>
      </div>
      <div class="nav">
        <div class="menu">
          <p class="title">Menu</p>
          <ul>
            <li>
              <a href="http://127.0.0.1:8000/CursoPython/">
                <i class="logos"><img src="../static/imagenes/icono-libro.png"/> </i>
                <span class="text">Introducción a Python</span>
              </a>
            </li>

            <li>

              <a href="#">
                  <i class="logos"><img src="../static/imagenes/icono-lapiz.png"/> </i>
                  <span class="text">Sintaxis Basica</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">

                <li>
                  
                  <a href="http://127.0.0.1:8000/sintaxisEntrada/">
                    <span class="text">Entrada y salida de datos</span>
                  </a>

                </li>

                <li>
                  <a href="http://127.0.0.1:8000/sintaxisVariables/">
                    <span class="text">Variables en Python</span>
                </a>

              </li>

                <li>

                  <a href="http://127.0.0.1:8000/sintaxisComentarios/">
                    <span class="text">Comentarios en Python </span>
                  </a>

                </li>
              </ul>

            </li>

            <li>

              <a href="#">
              <i class="logos"><img src="../static/imagenes/icono-engranje.png"/> </i>
                <span class="text">Estructuras </span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">
                <li>
                  
                  <a href="http://127.0.0.1:8000/EstructurasCondicionales/">
                    <span class="text">Estructuras Condicionales</span>
                  </a>

                </li>

                <li>
                  <a href="http://127.0.0.1:8000/EstructurasCiclicas/">
                    <span class="text">Estructuras Ciclicas</span>
                  </a>
                </li>

                <li>
                  <a href="http://127.0.0.1:8000/EstructurasListas/">
                    <span class="text">Listas</span>
                  </a>
                </li>

                <li>

                  <a href="http://127.0.0.1:8000/EstructuraTuplas/">
                    <span class="text">Tuplas</span>
                  </a>
                </li>

                <li>

                  <a href="http://127.0.0.1:8000/EstructuraDiccionarios/">
                    <span class="text">Diccionarios</span>
                  </a>
                </li>

              </ul>

            </li>


            
            <li>

              <a href="#">
              <i class="logos"><img src="../static/imagenes/icono-prom.png"/> </i>
                <span class="text">Funciones</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">
                <li>
                  
                  <a href="http://127.0.0.1:8000/FuncionesDefinicion/">
                    <span class="text">Definición de Funciones</span>
                  </a>

                </li>

                <li>
                  <a href="http://127.0.0.1:8000/FuncionesRecursividad/">
                    <span class="text">Recursividad</span>
                  </a>
                </li>

                <li>

                  <a href="http://127.0.0.1:8000/FuncioneTipos/">
                    <span class="text">Tipos de Funciones</span>
                  </a>

                </li>


                <li>

                  <a href="http://127.0.0.1:8000/FuncioneArgumentos/">
                    <span class="text">Argumentos de Funciones</span>
                  </a>

                </li>


              </ul>


            </li>

            <li>

              <a href="#">
                  <i class="logos"><img src="../static/imagenes/icono-cubo.png"/> </i>
                  <span class="text">POO</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">
                <li>
                  
                  <a href="http://127.0.0.1:8000/Poo-Clases/">
                    <span class="text">Clases, Objetos y Métodos</span>
                  </a>

                </li>

                <li>

                  <a href="http://127.0.0.1:8000/Poo-Herencia/">
                    <span class="text">Herencia</span>
                  </a>
                </li>

                <li>
                  <a href="http://127.0.0.1:8000/Poo-Encapsulamiento/">
                    <span class="text">Encapsulamiento</span>
                  </a>
                </li>

                <li>
                  <a href="http://127.0.0.1:8000/Poo-Polimorfismo/">
                    <span class="text">Polimorfismo</span>
                  </a>
                </li>

              </ul>

            </li>


            <li>

              <a href="#">
                  <i class="logos"><img src="../static/imagenes/Signos.png"/> </i>
                <span class="text">Operadores</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">
                <li>
                  
                  <a href="http://127.0.0.1:8000/OperadoresAsignacion/">
                    <span class="text">Operadores de Asignación</span>
                  </a>

                </li>

                <li>
                  <a href="http://127.0.0.1:8000/OperadoresAritmeticos/">
                    <span class="text">Operadores Aritmeticos</span>
                  </a>
                </li>

                <li>
                  <a href="http://127.0.0.1:8000/OperadoresRelacionales/">
                    <span class="text">Operadores Relacionales</span>
                  </a>
                </li>

                <li>
                  <a href="http://127.0.0.1:8000/OperadoresLogicos/">
                    <span class="text">Operadores Logicos</span>
                  </a>
                </li>

              </ul>

            </li>




            <li>
              <a href="#">
              <i class="logos"><img src="../static/imagenes/Libro.png"/> </i>
                <span class="text">Evaluaciones</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>

              <ul class="sub-menu">
                <li>
                  <a href="http://127.0.0.1:8000/Evaluacion1/">
                    <span class="text">Evaluación 1</span>
                  </a>
                </li>
                <li>
                  <a href="http://127.0.0.1:8000/Evaluacion2/">
                    <span class="text">Evaluación 2</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
  <section class="prefencias">

        <div class="menu">
          <p class="title">Preferencias</p>
          <ul>

            <li>
              <a href="http://127.0.0.1:8000/Perfil/">
                  <i class="logos"> <img src="../static/imagenes/icono-perfil.png"/> </i>
                <span class="text">Mi perfil</span>
              </a>
            </li>

         

          </ul>
        </div>
      </div>

  </section>

      <div class="menu">
        <p class="title">Recursos de Ayuda</p>
        <ul>
          <li>
            <a href="http://127.0.0.1:8000/ChatBot/">
              <i class="logos"><img src="../static/imagenes/icono-IA.png"/> </i>
              <span class="text">Acerca del ChatBot</span>
            </a>
          </li>
         
        </ul>
      </div>
    </div>


    

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
      integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
      crossorigin="anonymous"
    >
    </script>
    

    <script>
        $(".menu > ul > li").click(function (e) {
            $(this).siblings().removeClass("active");
            $(this).toggleClass("active");
            $(this).find("ul").slideToggle();
            $(this).siblings().find("ul").slideUp();
            $(this).siblings().find("ul").find("li").removeClass("active");
          });
          
          $(".menu-btn").click(function () {
            $(".sidebar").toggleClass("active");
          });
          
    </script>