.contenedor-2 {
    background-color: rgba(41, 39, 39, 1);
    padding: 50px;
    width: 800px;
    height: 600px;
}

.contenedor-1 {
    background-color: rgba(33, 30, 31, 1);
    padding: 50px;
    width: 500px;
    height: 600px;
    margin-right: 0px; 
}

.contenidop{
    margin-top: 50%;
}