{% load static %}

<!DOCTYPE html>

<html lang="en">

  
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/cursoPython.css' %}" />
  <script src="{% static 'javascript/forcodigo.js' %}"></script>
  <script src="{% static 'javascript/copilador.js' %}"></script>

  {% csrf_token %}

  
  <title>CodePyAI - Python</title>
</head>


  <body>
    {% include 'Contenido/menuCurso.html' %}

    <div class="numero-leccion">
            <h1 style="margin-left:0% ">Lección 2 : Sintaxis Basica de Python</h1>
            <div class="imagen-izq">
              <img src="../static/imagenes/SintaxisLogo.png" style="margin-left:19%"/>
          </div>
      </div>

      <section class="Lecciones">

        <div class="contenido">

            <h1>4. Comentarios en Python</h1>

            <p>Los comentarios son una herramienta crucial en cualquier lenguaje de programación, incluyendo Python, ya que desempeñan un papel fundamental en la creación de código limpio y comprensible. Más allá de simplemente proporcionar una forma de documentar y explicar el código, los comentarios fomentan una práctica de desarrollo colaborativa y transparente. Permiten a los programadores comunicarse con otros miembros del equipo, así como con su futuro yo, al proporcionar explicaciones detalladas sobre el propósito y el funcionamiento del código</p>
           
            <br>
            <iframe width="600" height="400" src="https://www.youtube.com/embed/moARAmtHCLA" frameborder="0" allowfullscreen></iframe>
            <br><br><br><br>


            <h1>4.1 Sintaxis de los comentarios</h1>
            <p> 
              En Python, los comentarios se crean precediendo una línea de texto con el símbolo #. Esta convención indica al intérprete de Python que todo lo que sigue después del # en esa línea debe tratarse como un comentario y ser ignorado durante la ejecución del programa.</p>
            </div>
            <br>

           <div class="seccion-codigo">
              <h3># Este es un comentario en Python
          </div>
          <br>
          <br>
          <br>
          <p>También se pueden añadir comentarios al final de una línea de código para explicar su propósito:          </p>
          <br>
          <div class="seccion-codigo">
            <br>
            <p class="variables">x = </p><p class="valores">5&nbsp;&nbsp;</p><p class="comentarios">#Esta variable almacena un número entero</p><br>
          </div>
          <br>
          <br><br>
          <h1>4.2 Proposito de los Comentarios</h1>
          <p>Los comentarios pueden utilizarse para una variedad de propósitos en el desarrollo de software.
             En primer lugar, son útiles para explicar el propósito de una sección de código, brindando claridad y
              contexto a los programadores que puedan necesitar comprender su funcionalidad. 
              Además, los comentarios son ideales para documentar la función de variables, 
              funciones o métodos, proporcionando información detallada sobre su comportamiento
               y uso dentro del programa.También son útiles para señalar áreas que
                requieren cambios o mejoras futuras, sirviendo como recordatorios
                 para los desarrolladores sobre posibles ajustes o actualizaciones
                  que podrían necesitarse más adelante. </p>

          <br>
          <div class="imagenguia">
            <img src="../static/imagenes/SintaxisComentarios.png" alt="Chat Icon">
        </div>

        <br><br>
          
      <br>
   

          <br>
     


          <h1>4.4 Ejercicio de Práctica</h1>

          <p>En esta sección del ejercicio, se invita al usuario a analizar un problema específico relacionado con 
            la manipulación de datos en Python. Se proporciona una descripción detallada del contexto y se presentan los requisitos funcionales 
            que guiarán la implementación del programa. Además, se enfatiza la importancia de comprender los conceptos de entrada y salida de datos, 
            variables y el uso de comentarios en el código Python para la resolución efectiva del problema planteado. Este ejercicio ofrece una oportunidad 
            para aplicar lo aprendido y mejorar tus habilidades de programación. Al resolver el problema, podrás practicar el manejo de datos, 
            la estructura de control y la organización del código, lo que te permitirá consolidar tus conocimientos en Python.&nbsp <button id="mostrarImagenBtn"> Mostrar Ejercicio</button></p>
          
          
            <p class="descripcion-ejercicio" style="display: none;">
              Descripción :El objetivo de este ejercicio es crear un programa en Python que permita al usuario ingresar tres notas, calcular el
             promedio de estas notas y mostrar el resultado. El programa utilizará variables para almacenar las 
             notas ingresadas y el promedio calculado. Además, se utilizarán comentarios para explicar cada parte del código.
             Requisitos
              Entrada de Datos:
              El programa debe solicitar al usuario que ingrese tres notas.
              Proceso de Cálculo:
              El programa debe calcular el promedio de las tres notas ingresadas.
              Salida de Datos:
              El programa debe mostrar el promedio calculado con un mensaje adecuado.
              Comentarios en el Código:
              El código debe contener comentarios que expliquen las principales secciones y operaciones del programa.
              
              Muestra de Ejecución
              Ingrese la primera nota: 85
              Ingrese la segunda nota: 90
              Ingrese la tercera nota: 78
              El promedio de las tres notas es: 84.33333333333333
            </p>


        <!-- Modal para mostrar la imagen -->
        <div id="myModal" class="modal">
            <span class="close" id="closeModal">&times;</span>
            <img class="modal-content" id="imgModal" src="{% static 'imagenes/Ejercicio1.png' %}" alt="Chat Icon">
        </div>
       
        <div class="practica-conocimiento">
          <h2 class="titulo-copilador">Prueba tu Codigo en este Espacio</h2>
          <div id="codigoEstudiante" contenteditable="true" class="codigo-input" placeholder="Escribe tu código aquí..."></div>
          
          <!-- Botón Enviar Código -->
          <div class="button-container">
            <button id="enviarCodigo" class="btn-enviar">
                <i class="fas fa-paper-plane"></i> Ver Correciones
            </button>
        
            <button id="compilarCodigo" class="btn-compilar">
                <i class="fas fa-play"></i> Compilar
            </button>
        </div>
      </div>

      </section>

      <div id="modalCorrecciones" class="modal2">
        <div class="modal-content2">
          <span class="close">&times;</span>
          <h2>Correcciones del Ejercicio</h2>
          <div id="correccionesTexto"></div>
        </div>
      </div>
      
   
    <div class="chat-box" id="chatBox">
        <div class="chat-header">
            <h2>Asistente Virtual</h2>
            <button id="closeChat">&times;</button>
        </div>
        <div class="chat-content" id="chatContent">
            <p>Aqui puedes preguntarle a nuestra inteligencia artificial integra alguna pregunta que tengas acerca de las lecciones que estas viendo en el curso.</p>
        </div>
        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Escribe aquí...">
            <button id="sendMessage">Enviar</button>

        </div>
    </div>
    <h1 id="CorreccionesEstado">e</h1>


  </body>

  <script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById('mostrarImagenBtn');
    var span = document.getElementById('closeModal');

    btn.onclick = function() {
        modal.style.display = 'flex'; 
    }

    span.onclick = function() {
        modal.style.display = 'none'; 
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none'; 
        }
    }
</script>
  

<script>
    
  document.getElementById('compilarCodigo').onclick = function() {
    // Verificar si el texto de las correcciones contiene la palabra "APROBADO"
    var correccionesTexto = document.getElementById('CorreccionesEstado').innerText; // Cambiar 'correccionesEstado' a 'CorreccionesEstado'

    // Comprobar si el texto es "APROBADO" (sin importar mayúsculas o minúsculas)
    if (correccionesTexto.toUpperCase() === 'APROBADO') {
        // Si está aprobado, proceder a compilar el código
        var codigo = document.getElementById('codigoEstudiante').innerText;
        var codigoCodificado = encodeURIComponent(codigo);
        var urlCompilador = `https://paiza.io/es/projects/new?language=python3&source_code=${codigoCodificado}`;
        window.open(urlCompilador, '_blank');
    } else {
        // Si no está aprobado, mostrar un mensaje de error
        alert('Debes corregir el código antes de compilar.');
    }
};

  </script>
</html>