{% load static %}

{% include 'Contenido/menu.html' %}


<link rel="stylesheet" type="text/css" href="{% static 'css/nosotros2.css' %}">

<br><br>
<div class = "hero"></div>
    <br>
    <div class="header-content container">
        <div class="header-txt p1">
            <br>
            <br>
   
            <h1>Acerca de Nosotros</h1>
            <p> 
                En CODEPYAI, nos enorgullece ser más que una simple plataforma educativa; somos un equipo dedicado a
                 crear un entorno interactivo y dinámico para la enseñanza de programación en Python. 
                 Nuestra pasión es transformar la educación digital, ofreciendo una experiencia de aprendizaje 
                 innovadora que se adapta a las necesidades de cada estudiante. Creemos firmemente que el 
                 aprendizaje debe ser accesible, interesante y motivador



            </p>

        </div>

        <div class="header-img">
            <img src="../static/imagenes/Persona2.png" width="400px" style="margin-left:-30%" alt="">
        </div>
        
    </div>
   
    <br>
    <br>
    <br>
    <section class="general container"> 

        <div class="general-1">

            <div class = "general-card">

                <img src = "../static/imagenes/pythoncurso.png"   alt="" width="300">

                <h3>Calidad Educativa</h3>

                <p>
                    Nos dedicamos a ofrecer educación de alta calidad en programación en Python.
          
                </p>
            </div>

            <div class = "general-card">

                <img src = "../static/imagenes/Progreso.png"   alt="" width="300">
            
        
                <h3>Accesibilidad</h3>

                <p>
                    Nuestra plataforma es accesible a todos, sin importar ubicación o experiencia previa.            </div>

            <div class = "general-card">

                <img src = "../static/imagenes/Bombilla.png"   alt="" width="300">

                <h3>Innovación </h3>

                <p>
                    Constantemente innovamos para mejorar la experiencia de aprendizaje        </div>
        </div>

        <div class="general-2">
            <br> <br>  <br>  <br> <br>
            <h2 class="TitulosA">Compromiso
            </h2>
            <p>
                Nuestra misión es proporcionar recursos educativos de alta calidad, accesibles 
                y efectivos, que faciliten el aprendizaje autodidacta. En un mundo donde la programación es una habilidad esencial,
                 buscamos superar las deficiencias de los métodos tradicionales



            </p>
            
            <a href="#" class="btn-2">Información</a>
            
        </div>

    </section>



    <section class="general container"> 
        <div class="general-2">

            <h2 class="TitulosA">Visión         </h2>
            <p>
                Creemos en el poder del aprendizaje autodidacta y en la importancia de una educación personalizada.
                 Con CODEPYAI, los estudiantes pueden aprender a su propio ritmo, 
                 enfocarse en sus áreas de interés y desarrollar habilidades de resolución 
                 de problemas.
            </p>

            <a href="#" class="btn-2">Información</a>
            
        </div>

        <div class="general-1">

            <div class = "general-card bg-1">

            </div>

            <div class = "general-card bg-2">

            </div>

            <div class = "general-card bg-3">

            </div>
        </div>
    </section>



    <br><br>

    {% include 'Contenido/footer.html' %}
