{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePyAI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


    {% include 'Contenido/menu.html' %}


    <h1 class = "Titulos">Noticias sobre la inteligencia artificial</h1>


    <section class="Noticias">

        <a href="https://www.rocheplus.es/innovacion/inteligencia-artificial/ia-contra-pandemias.html " target="_blank">
            <div class="Noticia-1">
                <div class="imagen">
                    <img src="../static/imagenes/Coronavirus.png" alt="Imagen de la noticia">
                </div>
                <div class="texto">
                    <p>Nuevo algoritmo de IA predice brotes de enfermedades con precisión.</p>
                </div>
        
                <div class="Creditos">
                    <span class="icono-login"></span>
                    <p>POR PEDRO PEDRAZA</p> <br>
                    <span class="icono-categoria"></span> 
                    <P>MEDICINA</P>
                </div>
            </div>
        </a>
        

        <a href="https://inrobics.com/innovacion-rehabilitacion-integracion-robotica-aliada-recuperacion-efectiva/" target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/RobotIA.png" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Robot con IA ayuda a rehabilitar a pacientes con lesiones neurológicas.</p>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR RAMIRO VENEGAS</p> <br>
                <span class="icono-categoria"></span> 
                <P>MEDICINA</P>
            </div>
        </div>
        </a>

        <a href="https://www.fundacionbankinter.org/noticias/agritech-linteligencia-artificial-revoluciona-agricultura/" target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/SembradoIA.png" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>IA revoluciona el sector agrícola con sistemas de cultivo inteligente.</P>
            </div>
            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR HERNAN ORTIZ</p> <br>
                <span class="icono-categoria"></span> 
                <P>AGRICULTURA</P>
            </div>
        </div>
        </a>
        
        <a href="https://www.ey.com/es_co/financial-accounting-advisory-services/5-beneficios-de-la-ia-en-las-finanzas-y-la-contabilidad#:~:text=Uno%20de%20los%20beneficios%20m%C3%A1s,una%20velocidad%20y%20precisi%C3%B3n%20incre%C3%ADbles." target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/Financiero.jpg" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Eficiencia Financiera Impulsada por Tecnología de Inteligencia Artificial.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR CAMILO SILVA</p> <br>
                <span class="icono-categoria"></span> 
                <P>ECONOMIA</P>
            </div>
        </div>
        </a>

        <a href="https://investigacion.pucp.edu.pe/novedades-en-la-investigacion/entre-sensores-inteligencia-artificial-y-el-aire-que-respiras/" target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/CalidadAire.jpg" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Sensores de IA Monitorean Calidad del Aire en Ciudades Urbanas.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR PEDRO ROMAN</p> <br>
                <span class="icono-categoria"></span> 
                <P>AMBIENTAL</P>
            </div>
        </div>
        </a>



        <a href="https://emocional.co/co/inteligencia-artificial-como-tu-proximo-terapeuta-podria-ser-un-bot/" target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/Terapia.jpg" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Terapia Asistida por IA Ofrece Apoyo Personalizado para Salud Mental.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR JUAN ZANM</p> <br>
                <span class="icono-categoria"></span> 
                <P>MEDICINA</P>
            </div>
        </div>
        </a>


        <a href="https://www.bbc.com/mundo/noticias-65715517" target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/Ciencia.jpg" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Descubrimientos Científicos Acelerados por Inteligencia Artificial.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR JAMES GALLAGHER</p> <br>
                <span class="icono-categoria"></span> 
                <P>CIENCIA</P>
            </div>
        </div>
        </a>


        <a href="https://cincodias.elpais.com/cincodias/2023/01/17/mercados/1673966255_164534.html " target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/AsesorIA.png" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Asesores Virtuales Usan IA para Optimizar Inversiones.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR VERA CASTELLÓ</p> <br>
                <span class="icono-categoria"></span> 
                <P>ECONOMIA</P>
            </div>
        </div>
        </a>


        <a href="https://alfabetizaciondigital.redem.org/ocho-aplicaciones-de-inteligencia-artificial-que-son-aplicadas-en-la-educacion/#:~:text=Con%20el%20uso%20de%20IA,adaptados%20a%20sus%20necesidades%20individuales." target="_blank">
        <div class="Noticia-1">
            <div class="imagen">
                <img src="../static/imagenes/EducacionIA.jpg" alt="Imagen de la noticia">
            </div>
            <div class="texto">
                <p>Plataformas Educativas Emplean IA para Personalizar Experiencias.</P>
            </div>

            <div class="Creditos">
                <span class="icono-login"></span>
                <p>POR PEDRO SANCHEZ</p> <br>
                <span class="icono-categoria"></span> 
                <P>EDUCACIÓN</P>
            </div>
        </div>
      </a>

    </section>

    <br>  <br><br>


    {% include 'Contenido/footer.html' %}

    

  


</body>
</html>