{% load static %}

{% include 'Contenido/menu.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/soporte2.css' %}">


<link rel="stylesheet" href="assets/CSS/stylePolitica.css">


<br><br><br><br><br>

<div class="titulitos">
        <h1>Querido Usuario. </h1>
        <p>Puede ponerse en contacto con nosotros de lunes a viernes a través de los siguientes canales durante el horario de 2:00 p.m. a 6:00 p.m.
        </p>
    </div>

    <section class="general_container" style="    margin-left: 12%; margin-top: 3%;"> 

        <div class="general-1">

            <div class = "general-card">

                <img class="h" src = "../static/imagenes/Instagram.png" style="width:95%"  alt="" >

                <h3>Redes Sociales</h3>

                <p>
                    Actualmente contactamos con Facebook y Instagram , para encontrarnos puede buscar
                    CodePyAI
                </p>
            </div>

            <div class = "general-card">

                <img class="h" src = "../static/imagenes/CorreoP.png"   alt="" >
            
        
                <h3>Correo electronico</h3>

                <p>
                   Contactamos con un correo electronico a su disposición , este es: CodePyAI@gmail.com.
                </p>
                
            </div>
            

            <div class = "general-card">

                <img class="h" src = "../static/imagenes/WhatsApp.png"   alt="" >

                <h3>WhatsApp</h3>

                <p>
                  Puede escribirnos en nuestro WhatsApp al siguiente número: +57 314 4073738
                </p>
            </div>
        </div>

    
    </section>
<br><br><br><br><br><br><br>

    {% include 'Contenido/footer.html' %}
