{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=	, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/progresocurso.css' %}">
</head>
<body>



    {% if usuario.id_usuario is none%}
    <script>
        alert("Por favor, inicie sesión para acceder a más características de la página web.");
        window.location.href = "http://127.0.0.1:8000/Login/"
    </script>
    {% endif %}


    <div class="menu">
        <div class="user-profile">
           <h2 class="NomUsuario" style="color: white;">{{ usuario.nombre_usuario }}</h2><br>
           <img src="../static/imagenes/Avatar/{{ infousuario.avatar_usuario }}.jpg" alt="Imagen de perfil" onclick="window.location.href='http://127.0.0.1:8000/'" style="cursor:pointer"> <br><br><br>
            <hr><br>
        </div>
        
        <ul class="menu-list">
            <li>
                <img src="../static/imagenes/usuario.png" alt="Opción 1">
                <a href="http://127.0.0.1:8000/Perfil/">Perfil</a>
            </li>

            <li>
                <img src="../static/imagenes/Certificado.png"   alt="Opción 1">
                <a href="http://127.0.0.1:8000/Perfil/Progreso">Certificado</a>
            </li>
            <li>
                <img src="../static/imagenes/Avatar.png"  alt="Opción 1">
                <a href="/AvatarLog" style="margin-left:-10x;">Avatar</a>
            </li>
            <li>    
                <img src="../static/imagenes/Soporte.png"  alt="Opción 1">
                <a href="http://127.0.0.1:8000/Perfil/Soporte" style="margin-left:-10x;">Soporte</a>
            </li>

            <br>
         
        </ul>
 
    </div>



           <br><br><br><br><br><br><br><br><br><br>


        <h1 class="titulos" style="margin-top:0%;margin-left:27%;margin-button:6%">Resultados de Aprendizaje </h1> <br><br>


        <div class="contenedor-principal">
            
            <div class="contenedor-1" style="width:33% ; height:300px">
                <div class="contenidop">
                    <br>
                <h2 class="items">Certificación del Curso</h2>
                <p>Aquí puedes descargar el diploma con el que podrás certificar todos tus conocimientos adquiridos en nuestra plataforma web educativa.Debes obtener más del 70% para poder descargarlo 
                   
                    <b style="color:yellow;margin-top:15px">(Calificación actual : {{ infousuario.progreso_curso }}%)</b></p>
            </div>
            </div>
            
            <div class="contenedor-2" style="height:300px">
                <div class="contenidop">
                    <br> <br> <br>
                    <h2 class="items">Descargar Tu Diploma Ahora</h2>
            
                    <form id="diploma-form" action="http://127.0.0.1:8000/DescargarDiploma/" method="get">
                        <div class="input-group">
                            <div class="input-item">
                                <input type="hidden" id="correo-usuario" name="correo-usuario">
                            </div>
                        </div>
                        <br>
                        <button type="submit" style="background-color:#">Descargar certificado ahora</button>
                    </form>
                </div>
            </div>


            </div>
        </div>

        <br><br><br><br><br>
    </div>

  
        <h1 style="visibility:hidden"><a href="" class="idUsuari    o">{{usuario.id_usuario}}</a></h1>

        <script>
            var progresoCurso = {{ infousuario.progreso_curso }};
        
            document.getElementById('diploma-form').addEventListener('submit', function(event) {
                if (progresoCurso < 70) {
                    event.preventDefault(); 
                    alert("Debe aprobar ambas evaluaciones para descargar el diploma.");
                }
            });
        </script>

</body>

<script>
  
</script>




</html>